.iconssize {
    height: 30px;
    width: 30px;
  }

.fontstyle {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
.navbar {
  background-color: #85586F;
  height: 6rem;
}  

.logo {
  height: 82px;
  width: 92px;
}

.cont {
  background-color: #AC7D88;
}

.contclr {
  background-color: #FDF0D1;
}