.iconssize {
    height: 28px;
    width: 28px;
  }

.fontstyle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.fontstyle2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  color:#eae5ff;
  text-shadow: 2px 2px 8px rgb(56, 12, 123);
}

.button {
  height: 2rem;
  width: 1rem;
  border-radius: 12px;
}
  
.navbar {
  background-color: #85586F;
  height: 6rem;
}  

.navbarcolor {
  background-color: #85586F;
}  

.header {
  background-color: #FDF0D1;
  height: 12rem;
}

.logo {
  height: 82px;
  width: 92px;
}

.cont {
  background-color: #AC7D88;
}

.contclr {
  background-color: #FDF0D1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.contclr2 {
  max-height: 21rem;
}

.todostyle {
  border-radius: 5% 5% / 5% 5%;
  border: black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}