.iconssize {
    height: 30px;
    width: 30px;
  }

.fontstyle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
  
.navbar {
  background-color: #85586F;
  height: 6rem;
}  

.navbarcolor {
  background-color: #85586F;
}  

.header {
  background-color: #FDF0D1;
  height: 12rem;
}

.logo {
  height: 82px;
  width: 92px;
}

.cont {
  background-color: #AC7D88;
}

.contclr {
  background-color: #FDF0D1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.todostyle {
  border-radius: 5% 5% / 5% 5%;
  border: black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}