#root {
  margin: 0 auto;
  text-align: center;
}

table {
  border: 2px solid;
  width: 100%;
  background-color: #f2f2f2;

  
 }

.th1 {
 text-align: left;
}


.th2 {
 text-align: center;
}


.th3 {
  text-align: right;
}

